<!DOCTYPE html>
<html>
<head>
    <title>404</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>404</h1>
            <p>
        {{errorMessage}}
            </p>
    </div>
{{>footer}}
</body>
</html>
